.card{
    margin: 20px 0 20px 20px ;
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px rgba(225, 225, 225, 0.2);
    text-decoration: none;
}

.card-info {
    padding: 0 5px 5px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.card-info b {
    font-size: 20px;
    color: rgb(17, 60, 83);
}
.main-info {
    font-size: 18px;
    font-weight: 600;
    overflow-wrap: anywhere;
}
.card img{
    border-radius: 10px 10px 0 0;
}