.banner {
    height: 550px;
    background-image: linear-gradient(to left, rgba(196, 13, 13, 0.658), rgba(17, 60, 83, 0.459));
    width: 100%;   
}


.play {
    cursor: pointer;
    position: absolute;
    right: 44%;
    top: 190px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    width: 170px;
}
.play-circle {
    border: 2px solid rgba(255, 255, 255, 0.562);
    border-radius: 50%;
    width: 348px;
    clip-path: none;
    height: 343px;
    top: 142px;
    right: 538px;

    
}
.trailer {
    clip-path: none;
    top: 75px;
    right: 620px;
}
.close{
    cursor: pointer;
    position: fixed;
    height: fit-content;
    top: 90px;
    left: 80%;
    z-index: 4;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
}
.popup {
    position: fixed;
    top: 80px;
    left: 13%;
    bottom: 20px;
    z-index: 3;
    padding-top: 40px;
    background-color: black;
}
.banner-overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.35;
    z-index: 2;
    filter: grayscale(100%);
}
.details{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    position: absolute;
    top: 205px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
    width: 270px;
}
.rating{
    justify-content: center;
    right: 0;
    top: 220px;
}
